{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Pi Home Control App<h2>
  </div>
  <br>
  
  <div class="statusBox">
    <fieldset>
      <legend>Door Sensor</legend>
      <input id="doorHistory" type="button" value="doorHistory" onclick="getDoorHistory();" />
    </fieldset>
    <table id="doorSensor" class="display">
      <thead>
        <tr>
            <th>Time</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <br>
  
  <div class="statusBox">
    <fieldset>
      <legend>Motion Sensor</legend>
      <input id="motionHistory" type="button" value="motionHistory" onclick="getMotionHistory();" />
    </fieldset>
    <table id="motionSensor" class="display">
      <thead>
        <tr>
            <th>Time</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <br>
  
  <div class="statusBox">
    <fieldset>
      <legend>Blinds/Motor Control</legend>
      <input type="submit" name="submit" value="Open">
      <input type="submit" name="submit" value="Close">
    </fieldset>
  </div>
  <br>
  
{% endblock %}
