{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Pi Home Control App<h2>
  </div>
  <br>
  
  <div class="statusBox">
    <fieldset>
      <legend>Door Sensor Status</legend>
      <table id="doorSensor" class="display">
        <thead>
          <tr>
              <th>Time</th>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </fieldset>
  </div>
  <br>
  
  <div class="statusBox">
    <fieldset>
      <legend>Motion Sensor Status</legend>
      <table id="motionSensor" class="display">
        <thead>
          <tr>
              <th>Time</th>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </fieldset>
  </div>
  <br>
  
  <div class="statusBox">
    <fieldset>
      <button type="button" onclick="motorForward()">Open</button>
      <button type="button" onclick="motorReverse()">Close</button>
    </fieldset>
  </div>
  <br>
  
{% endblock %}
