<!DOCTYPE html>
<html>
  <head>
    <title>Pi Home Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  </head>
  <script 
    type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery.js') }}">
  </script>   
  <script 
    type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}">
  </script>   
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Web Home Control</h1>
      </div>
    </header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>
